AADD/A1/practica_parseo_xml/hospital.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- Definición del DTD para el archivo hospital.xml -->

<!ELEMENT hospital (nombreHospital, Medico*, Paciente*)>
<!ATTLIST hospital Ciudad CDATA #IMPLIED>

<!ELEMENT nombreHospital (#PCDATA)>

<!ELEMENT Medico EMPTY>
<!ATTLIST Medico
    id CDATA #REQUIRED
    Especialidad CDATA #IMPLIED
    Nombre CDATA #IMPLIED
    Apellido CDATA #IMPLIED
    Telefono CDATA #IMPLIED
    Email CDATA #IMPLIED
>

<!ELEMENT Paciente EMPTY>
<!ATTLIST Paciente
    id CDATA #REQUIRED
    Edad CDATA #IMPLIED
    Nombre CDATA #IMPLIED
    Apellido CDATA #IMPLIED
    Telefono CDATA #IMPLIED
    Diagnostico CDATA #IMPLIED
>
